<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>游戏</string>
	</dict>
	<dict>
		<key>title</key>
		<string>旅游</string>
	</dict>
	<dict>
		<key>title</key>
		<string>影视</string>
	</dict>
	<dict>
		<key>title</key>
		<string>时尚</string>
	</dict>
	<dict>
		<key>title</key>
		<string>历史</string>
	</dict>
</array>
</plist>
