<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>综合</string>
	</dict>
	<dict>
		<key>title</key>
		<string>精选</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Sports</string>
	</dict>
	<dict>
		<key>title</key>
		<string>娱乐</string>
	</dict>
	<dict>
		<key>title</key>
		<string>汽车</string>
	</dict>
</array>
</plist>
