.title {
    text-align:left;
    font-size:60px;
    font-weight:600;
    font-family:"PingFang SC";
    color:black;
    margin-left:40px;
    margin-right:40px;
    margin-top:40px;
    text-align: center;

}

.time {
    text-align:left;
    font-size:30px;
    font-weight:300;
    font-family:"PingFang SC";
    color:black;
    margin-top:20px;
    margin-bottom:20px;
    text-align:center;

    
}

.paragraph {
    text-align:left;
    font-size:40px;
    font-weight:400;
    font-family:"PingFang SC";
    text-align: justify;
    color:black;
    margin-top:px;
    margin-bottom:20px;
    margin-left:40px;
    margin-right:40px;
}

.img-parent {
    text-align:center;
    margin-bottom:20px;

}
